<!--
module: edit_table_mapping_function_args
prefix: etmfam
-->
<!--    <form> -->
    <fieldset>
        <legend>Edit Table Mapping Function Args</legend>
        <div id="etmfam_div">
            <table border=0 id="etmfam_table" class="edit_table">
                <thead>
                    <tr><td>
                        <div id="etmfam_row_key_div">
                            <b>Table:</b>        <span id="etmfam_from_table"></span>
                            <b>Column:</b>       <span id="etmfam_from_column"></span>
                            <b>Function:</b>     <span id="etmfam_function_name"></span>
                            <span id="etmfam_where"></span>
                        </div>
                    </td> </tr>
                </thead>
                <tbody>
                    <tr><td>
                        <div> <!--      id="etmfam_rows_div"> -->
                            <b>INPUT</b>
                            <div id="etmfam_in"></div>
                
                            <br>
                            <b>OUTPUT</b>
                            <b>Vocabulary</b>
                                <span id="etmfam_out_vocabulary_id"></span>
                            <b>Concept</b> 
                                <span id="etmfam_out_concept_code"></span>
                            <br>
                        </div>
                        <button>Edit</input>
                        <button>Insert</input>
                        <button>Delete</input>
                        <button>Insert Sex 1) M, 2) F</input>
                        <button>Insert Yes/No (0,1)</input>
                    </td></tr>
                    </td></tr>
                </tbody>
            </table>
        </div>
    </fieldset>
<!--    </form> -->
