{% extends "base.html" %}
{% load static %}
{% block content %}
        <script type="text/javascript" src="{% static "ui/js/utility.js" %}"></script> 
    
        <script type="text/javascript" src="{% static "ui/js/harmonization_sheet_export.js" %}"></script> 
        <script type="text/javascript" src="{% static "ui/js/edit_extract_mapping_function.js" %}"></script>
        <script type="text/javascript" src="{% static "ui/js/show_extract_mappings.js" %}"></script>
        <script type="text/javascript" src="{% static "ui/js/edit_extract_mapping.js" %}"></script>
        <script type="text/javascript" src="{% static "ui/js/extract_study_choice.js" %}"></script>
        <script type="text/javascript" src="{% static "ui/js/study_choice.js" %}"></script>
<script>
    function do_on_load() {
        createHarmonizationSheetModuleExport().init();
    }
</script>

<h2>Define Harmonization Mappings: Export</h2>    
    {% include 'extract_study_choice.html' %} 
    {% include 'edit_extract_mapping.html' %}
    {% include 'show_extract_mappings.html' %} 

    (need to show "wide table" mappings and related functions)
    
    {% include 'edit_extract_mapping_function.html' %}

{% endblock %}

