
{% extends "base.html" %}
{% block content %}
{% load static %}

<script>
    function do_on_load() { }
</script>
<h2>Define Mapping</h2>
        <ul>
            <li> Migration to OHDSI
            <ul>
                <li> <a href="/ui/study_harmonization/">Develop Harmonization Mappings (deprecated)</a> </li>
                <li> <a href="/ui/harmonization_sheet/">Develop Harmonization Mappings (table)</a> </li>
            </ul>
            <li> Extraction and Categorization, Analysis Matrix
            <ul>
                <li> <a href="/ui/data_extraction.html">Develop Analysis Matrix Mappings and Categorization</a> </li>
            </ul>
        </ul>
{% endblock %}
