<!--
module: show_table_mapping_args
prefix: etmfm
-->
<!--    <form> -->
        <fieldset>
            <legend>Show Table Mapping Args </legend>
            <div id="stmam_div">
                <table border=0 id="stmam_table" class="edit_table">
			        <tr><td>
			            <div id="stmam_row_key_div">row key data goes here</div>
			        </td> </tr>
			        <tr><td>
			            <div id="stmam_rows_div">rows table  goes here</div>
			        </td></tr>
			        <tr><td>
			            <div id="stmam_status"></div>
			        </td></tr>
                </table>
            </div>
        </fieldset>
<!--    </form> -->
