<!--
module: source_table_column_module
prefix: stcm
-->
<div>
    <table border=0 >
        <tr><td valign="top" align="left" width="125px">Select Study:</td>
            <td valign="top" width="200px"><div id="stcm_select_study_div"></div></td>
            <td rowspan=3 valign="top" align="left" width="750px">
                Existing Data:<br>
                <div id="stcm_existing_actual_row" class="short-scroller"></div>
                Existing Mapping:<br>
                <div id="stcm_existing_mapping_row" class="short-scroller"></div>
            </td>
        </tr>

        <tr>    
            <td align="left">Select Table:</td>
            <td> <div id="stcm_select_tables_div"></div></td>
        </tr>

        <tr>
            <td align="left" valign="top">Select Column:</td>
            <td valign="top"><div id="stcm_select_columns_div"></div> </td>
        </tr>
    </table>
</div>
